
<div>
    <h1>YellowDuckStore</h1>
    <hr/>
</div>
<div>
    <h4> Login </h4>
    <form action="/login" method="POST">
        <lable>username</lable> <input type="text" id="username" name="username"><br/>
        <lable>password</lable> <input type="text" id="password" name="password"><br/>
        <button type="submit"> login </button>
    </form>
    
</div>


